$primary: #F0C53E;
$secondary: #B25A59;
$dark-red: #7F2736;
$white: #fff;
$black: #000;

$text-dark: #252641;
$text-medium-dark: #2C2D32;
$text-gray: #464646;
$text-light: #696984;

$footer-nav: #A7283E;